{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{{ url_for('configure_interface') }}" method="POST">
        <div class="mb-3">
            <label for="interfaceName" class="form-label">Interface Name</label>
            <input type="text" class="form-control" id="interfaceName" name="interface-name" value="{{ name or '' }}">
        </div>
        <div class="mb-3">
            <label for="interfaceIP" class="form-label">New Interface IP</label>
            <input type="text" class="form-control" id="interfaceIP" name="interface-ip">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}