{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Instances</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Operational Status</th>
                <th scope="col">Admin Status</th>
            </tr>
        </thead>
        <tbody>
            {% for interface in data %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td> <a href="{{url_for('interfaces.configure_interface', name=interface.get('name'))}}">{{ interface.get("name")
                        }}</a> </td>
                <td>{{ interface.get("oper-status") }}</td>
                <td>{{ interface.get("admin-status") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
</div>

{% endblock %}